h1, p {
  font-family: Lato;
}
body{
  margin:0;
}
#root{
  background-image: url('./assets/images/Background.jpg');
  background-color: #bcffeb;
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 0;
}
.popularMovies{
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.oneOfMovies{
  width:250px;
  height: 600px;
  border: solid 1px;
  padding: 15px;
}
.theMovie{
  padding-left: 50px;
}
img{
  margin: auto;
}
.cast{
  margin-top:0;
  margin-left:0;
}
.navBar{
  display: flex;
  font-weight: bolder;
  font-size: 23px;  
  background-color: rgb(12, 94, 100);
}
.about{
  padding:30px;
  font-size:30px;
}
.about a{
 display:block;
}
.about img{
  height:600px;
  width:400px;
  margin-top:-16%;
  margin-left:40%;
}
.comparedMovies{
  display: flex;
  flex-direction: row;
  font-size:30px;
}
.navButton{
  background-color: rgb(173, 247, 240); /* Green */
  border: solid 1px black;
  color: Black;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.link{
  text-decoration: none;
}
.oneOfComparedMovies{
  height: 100%;
  width: 30%;

}
.oneOfComparedMovies h1{
  height: 100px;
  width: 100%;
}
.compareButton{
  background-color: rgb(173, 247, 240); /* Green */
  border: solid 1px black;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  height: 40px;
  width: 100px;
}
.compareDiv{
  height: 315px;
  width: 50px;
}

.spinner img{
  display: block;
  margin-top: 10%;
}

.searchBar{
  margin-left: auto;
}
.MovieList{
  position: absolute;
  background-color: white;
}
.MovieList ul{
  list-style-type: none;
  padding: 3%;
}
.MovieList li{
  border-style: dashed;
  border-width: thin;
}

.container{
  padding-bottom: 100px;
}

.footer{
  background-color: rgb(115, 192, 166);
  text-align:center;
  height: 90px;
  position: absolute;
  bottom: 0;
  width: 100%;
}